.ctext text {
    font-family: sans-serif;
    fill: #343c40;
    font-weight: 600;
    text-shadow: 0 0 3px white,0 0 3px white;
}

text.row {
    font-family: sans-serif;
    font-weight: 600 !important;
    font-size: 15px !important;
    fill: BLACK !important;
    text-shadow: 0 0 5px white;
}

.simpl {
    display: inline-block;
}

.widget {
    padding: 5px;
    box-shadow: 1px 1px 3px #0000004d;
    margin: 8px;
    display: flex;
    justify-content: space-around;
}

body {
    font-family: sans-serif;
}
rect#background:hover {
    fill: #b8de6f11;
}

.activempio {
    stroke: black;
    stroke-width: 2px;
}

.unactive {
    opacity: 0.5;
}

#datumcontainer {
    position: absolute;
    width: 100%;
    text-shadow: 1px 1px 6px #ffffff, 1px 1px 6px #ffffff, 1px 1px 6px #ffffff;
    pointer-events: none;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 64px;
}

.maptype {
    text-align: center;
}

.madeby {
    color: grey;
    opacity: 0.5;
}
