<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Covid Boyacá</title>
  <meta name="description" content="Boyacá coronavirus visualization">
  <meta name="author" content="Juan Liberato">
  <meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

<!-- Create an element where the map will take place -->


  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
World map
<svg id="my_dataviz" width="400" height="300"></svg>
  <script src="js/viz.js"></script>
</body>
</html>