<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Covid Boyacá</title>
  <meta name="description" content="Boyacá coronavirus visualization">
  <meta name="author" content="Juan Liberato">
  <meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

<!-- Create an element where the map will take place -->


  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
<div class="widget maptype">
  <input type="radio" id="bcases" name="status" value="cases" checked="checked">
  <label for="bcases">Total</label>
  <input type="radio" id="bdeath" name="status" value="death">
  <label for="bdeath"># Muertos</label>
  <input type="radio" id="bactive" name="status" value="active">
  <label for="bactive"># Activos</label>
  <input type="radio" id="brecover" name="status" value="recover">
  <label for="brecover"># Recuperados</label><br>

  <input type="radio" id="brecoverrate" name="status" value="recoverrate">
  <label for="brecoverrate">% Activos</label>
  <input type="radio" id="bdeathrate" name="status" value="deathrate">
  <label for="bdeathrate">% Muertes</label>

</div>

<div class="widget">
<svg id="mapsvg"></svg>
</div>
<div class="widget">
  Male / Female Distribution
</div>
<div class="widget">
  Series of cases/recovered/deaths
</div>
<div class="widget">
  Case distribution by mild / severe
</div>
<div class="widget">
  Town detail widget
</div>
<div class="widget">
  Recovery type
</div>
  <script src="js/viz.js"></script>
</body>
</html>